@tailwind base;
@tailwind components;
@tailwind utilities;

.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.2s;
}


.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(10%);
  }
  to { opacity: 1 }
}
