@tailwind base;
@tailwind components;
@tailwind utilities;

.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.2s;
}


.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(10%);
  }
  to { opacity: 1 }
}

.fade-out1 {
  animation: fadeOut 0.75s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out2 {
  animation: fadeOut 1s ease-out forwards;
  animation-delay: 0.5s;

}